@media (min-width: 768px) and (max-width: 991px) {

body{

    main{
        h1{
           justify-content: center;    
           .logo_main{
                display: block;
                margin: auto;
                height: 80px;
            }
        }
        .slogan_style{
            font-size: 1rem;
        }

        body main form label img {
            width: 12%;
        }
    
        .body main .left_content {
            height: 25vh;
            .body main form .file_content i {
                color: #A34735;
                font-size: 5rem;
                margin-top: -10%;
            }
        }







    }





}





















}